@import url('./background-video.css');
@import url('./header.css');
@import url('./main.css');
@import url('./button-mobile.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #EDF1F7;
  --red: #C51212;
  --blue: #0041C2;
  --green: #14B02D;
  --yellow: #ffc12b;
}

body, button, a {
  color: var(--text);
  font: 400 1rem "Mukta", sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  padding: 0 48px;
}

@media(max-width: 500px) {
  #app {
    padding: 0 16px;
  }
}

.bg-video {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }
  
  .bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .bg-video::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    display: block;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  }

  #app header {
    width: 100%;
    max-width: 1440px;
  
    display: flex;
    align-items: center;
    column-gap: 64px;
  
    padding-top: 24px;
  }
  
  .logo__cap {
    width: 70px;
    height: auto;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .navigation__links {
    display: flex;
    align-items: center;
    column-gap: 48px;
  
    list-style: none;
  }
  
  .navigation__link {
    position: relative;
  
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .navigation__link::before {
    content: '';
  
    position: absolute;
    bottom: -2px;
    left: 0;
  
    width: 70%;
    height: 1px;
    background: var(--red);
  
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .8s;
  }
  
  .navigation__link:hover {
    color: var(--red);
  }
  
  .navigation__link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .8s;
  }
  
  .navigation__social {
    display: flex;
    align-items: center;
    column-gap: 24px;
  
    margin-left: auto;
  }
  
  .navigation__social a {
    opacity: 0.6;
    transition: all 0.4s;
  }
  
  .navigation__social a:hover {
    cursor: pointer;
    opacity: 1;
    transform: translateY(-5px);
  }
  
  .navigation__social a {
    width: 20px;
    height: 20px;
  }
  
  @media(max-width: 900px) {
    .navigation {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100vh;
      background: rgba(10, 12, 16, 0.9);
      backdrop-filter: blur(2px);
      z-index: 2;
  
      flex-direction: column;
      justify-content: center;
      row-gap: 70px;
  
      transform: translateY(-100vh);
      transition: transform 0.4s;
    }
  
    .navigation.active {
      transform: translateY(0);
    }
  
  
    .navigation__links {
      flex-direction: column;
      row-gap: 32px;
    }
  
    .navigation__link {
      font-size: 20px;
    }
    
    .navigation__social {
      margin: 0;
    }
  
    .navigation__social a{
      opacity: 0.8;
    }
    
    .navigation__social a {
      width: 24px;
      height: 24px;
    }
  }

  main {
    flex: 1;
    max-width: 1440px;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main__info {
    width: 100%;
    max-width: 570px;
  }
  
  .main__info p {
    width: 100%;
    font-size: 1.125rem;
    margin: 20px 0 28px;
  }
  
  .main__info > img {
    width: 250px;
    height: auto;
  }
  
  .main__info div {
    display: flex;
    column-gap: 32px;
  }
  
  main > img {
    width: 680px;
    height: auto;
  }
  
  .main__info div a, .main__info div button {
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
  
    border: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    transform: skew(-10deg);
  }
  
  .main__info div a {
    background: var(--red);
  }
  
  .main__info div button {
    background: transparent;
    border: 1px solid var(--green);
  }
  
  @media(max-width: 1200px) {
    main > img {
      width: 90%;
    }
  }
  
  @media(max-width: 1000px) {
    main {
      justify-content: center;
    }
  
    .main__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .main__info p {
      text-align: center;
    }
  
  
    .main__info div {
      width: 100%;
    }
  
    main > img {
      display: none;
    }
  }
  
  @media(max-width: 500px) {
    .main__info > img {
      width: 200px;
    }
  
    .main__info p {
      font-size: 16px;
    }
  
    .main__info div {
      column-gap: 16px;
    }
  
    .main__info div a, .main__info div button {
      font-size: 14px;
    }
  }

  .button__mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
  
    z-index: 5;
  
    border: 0;
    margin-left: auto;
    background: transparent;
  }
  
  .button__mobile:hover {
    cursor: pointer;
  }
  
  .button__mobile span {
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background: var(--text);
  
    transition: all 0.4s;
  }
  
  .button__mobile.active span:nth-child(2) {
    opacity: 0;
    width: 0px;
  }
  
  .button__mobile.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  
  .button__mobile.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -4px);
  }
  
  @media(max-width: 900px) {
    .button__mobile {
      display: flex;
    }
  }